/*COLORS*/
body{background-color:#B2E1F0;}
body {color: #333333;}
.tableLedger{background-color: #73D731;}
.tableLedger,.tableLedger a{color:#ffffff;}
.tableSubLedger,.tableSearchLedger,.calEmptyDateCell{background-color: #cccccc;}
.calDateCell,.calLedger,.tableRow,.tableTopRow,.tableBottomRow,.evenTableRow,.oddTableRow,.hiddenTableRow,.PMtableRow,.msgEvenTableRow,.msgEvenTableSide,.msgOddTableRow,.msgOddTableSide{background-color: #e0eeee;}
.postSeparatorTableRow{height: 10px;background-color: #dddddd;}
.highlight,.calTodayCell{background-color: #ffffff}
a {color:#516d40}
a.nav{color:#ffffff;border-color:#ffffff}

/*Custom*/
#headpictext {width:300px;height:48px;background:url("/pixels/images/headtext.gif") left no-repeat;float:left;text-align:left;}
img.zoom{image-rendering: optimizeSpeed;image-rendering: -moz-crisp-edges;image-rendering: -webkit-optimize-contrast;image-rendering: optimize-contrast;image-rendering: pixelated; -ms-interpolation-mode: nearest-neighbor;}
input, select {font-size:11px;}
a.nav {font: 10px Verdana, Arial, Helvetica, sans-serif;border-right:solid 1px; padding:5px 10px 5px 10px; margin:3px 0px 2px 0px;text-decoration: none;font-weight:bold;}
/* Page body */
body
{
	margin-left: 0px;
	margin-top: 0px;
	margin-right: 0px;
	margin-bottom: 0px;
}

/* Text for most CSS classes */
.text, .smText, .error, a, a.smLink,a.msgLink, a.tLink, .WebWizRTEtextarea, .basicTable, .errorTable, .tableLedger, .tableSubLedger, .tableSearchLedger, .tableRow, .tableTopRow, .tableBottomRow, .evenTableRow, .oddTableRow, .hiddenTableRow, .PMtableRow, .PMmsgBody, .msgBody, .msgEvenTableRow, .msgOddTableRow, .msgHiddenTableRow, .msgOddTableSide, .msgEvenTableSide, .msgSignature, .calLedger, .calDateCell, .calTodayCell, .BBquote, .BBcode {
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-weight: normal;
	font-size: 12px;
}
.lgText, .heading{
	font-family: Arial, Helvetica, sans-serif;
	color: #444444;
	font-weight: bold;
}
/* Text */
.smText{font-size: 10px;}
.lgText{font-size: 15px;}
.heading{font-size: 19px;}
.error{color : #FF0000;}
/* Hyperlinks */
a {text-decoration : underline;}
a:hover, a:visited:hover{text-decoration : underline;}
a.smLink {font-size: 10px;}
/* Misc */
ul{list-style-type: circle;}
form{display: inline;}
a img,:link img,:visited img{border:none}
.avatar, #avatar{margin: 2px;}
/* Rich Text Editor */
.WebWizRTEbutton{border: #151515 1px solid;background-color:#eeeeee;}
.WebWizRTEtextarea{background-color: #eeeeee;font-size: 12px;}
.RTEbutton{background-color: #E6E7F2;}
/* Tables */
.basicTable{border: 0px;width: 98%;}
.errorTable{
	border: 1px solid #FD7D40;
	background-color: #FFF2E6;
	width: 98%;
	color: #FF0000;
}
.tableBorder, .wwgAdTable{
	border: 1px solid #000000;
	background-color: #888888;
	width: 98%;
}
/* Table Ledger */
.tableLedger{
	font-weight: bold;
	height: 20px;
}
.tableLedger a:link, .tableLedger a:visited, .tableLedger a:hover{
	text-decoration: none;
	font-weight: bold;
}
.tableLedger a:hover, .tableLedger a:visited:hover{text-decoration : underline;}
/* Search Sub-Ledger */
.tableSubLedger{
	font-weight: bold;
	height: 22px;
}
.tableSubLedger a:link, .tableSubLedger a:visited, .tableSubLedger a:hover{
	text-decoration: none;
	font-weight: bold;
}
.tableSubLedger a:hover, .tableSubLedger a:visited:hover{text-decoration : underline;}
/* Search Ledger */
.tableSearchLedger{font-weight: bold;}
.tableSearchLedger a:link, .tableSearchLedger a:visited, .tableSearchLedger a:hover{
	text-decoration: underline;
	font-weight: bold;
}
.tableSearchLedger a:hover, .tableSearchLedger a:visited:hover{text-decoration : underline;}
.PMmsgBody{
	width: 99%;
	max-height: 350px;
	float: left; 
	overflow: auto;
}
/* Forum posts */
.msgBody{width: 100%;}
.msgEvenTableRow, .msgEvenTableSide{font-size: 10px;}
.msgOddTableRow, .msgOddTableSide{font-size: 10px;}
.msgEvenTableSide a:link, .msgEvenTableSide a:visited, .msgOddTableSide a:link, .msgOddTableSide a:visited{
	color : #FF8440;
	text-decoration: none;
	font-weight: bold;
}
.msgEvenTableSide a:hover, .msgEvenTableSide a:visited:hover, .msgOddTableSide a:hover, .msgOddTableSide a:visited:hover{text-decoration : underline;}
.msgHiddenTableRow{
	font-size: 10px;
	background-image: url(../forum_images/pre_approved_post.gif);
}
.msgLineDevider{
	border: solid #1F1F1F 0px;
	border-top-width: 1px;
	border-bottom-width: 1px;
}
.msgSignature{
	max-height: 160px;
	width: 100%;
}
/* Calendar */
.calLedger{
	font-weight: bold;
	padding:4px;
}
.calLedger a:link, .calLedger a:visited{
	text-decoration: none;
	font-size: 10px;
}
.calLedger a:hover, .calLedger a:visited:hover{
	text-decoration: none;
	font-size: 10px;
}
.calTodayCell{
	border:1px solid #FF8502;
}
/* BBcode blocks */
.BBquote{
	border: 3px dotted #000000;	
	width: 97%;
	padding: 5px;
	margin: 8px 0px;
	text-align: left;
	overflow: auto;
	display: block;
	padding: 5px;
}
.BBcode{
	font-family: Courier New, Courier, mono;
	border: 1px dashed #999999;
	width: 97%;
	padding: 5px;
	margin: 8px 0px;
	text-align: left;
	overflow: auto;
	display: block;
	padding: 5px;
}